In [1]:
import pandas as pd
url = 'https://archives.nseindia.com/content/indices/ind_nifty500list.csv'
NSE500_data = pd.read_csv(url)
NSE500_symbols = NSE500_data['Symbol']
NSE500_symbols

0         3MINDIA
1             ABB
2             ACC
3          AIAENG
4       APLAPOLLO
          ...
496    ZENSARTECH
497        ZOMATO
498     ZYDUSLIFE
499     ZYDUSWELL
500        ECLERX
Name: Symbol, Length: 501, dtype: object

In [2]:
import requests
import bs4 as BeautifulSoup

from selenium import webdriver
from selenium.webdriver import ActionChains

from selenium import webdriver
from webdriver_manager.chrome import ChromeDriverManager

import pandas as pd
import datetime
import time

Master_df = pd.DataFrame()

start_date = '15'
start_month = '06'
start_year = '2022'

end_date = '01'
end_month = '07'
end_year = '2022'

full_start_date = datetime.date(int(start_year),int(start_month),int(start_date))
full_end_date = datetime.date(int(end_year),int(end_month),int(end_date))

while full_start_date <= full_end_date:
    
    string_date = full_start_date.strftime('%d') + full_start_date.strftime('%m') + full_start_date.strftime('%Y')
    
    url = 'https://www1.nseindia.com/archives/equities/mto/MTO_{}.DAT'.format(string_date)
    
    driver = webdriver.Chrome(ChromeDriverManager().install())
    driver.get(url)
    
    Get_data = driver.find_element_by_tag_name('body')
    Get_data.text
    
    time.sleep(3)
    
    lines = Get_data.text.split("\n")
    
    if lines[0] == 'Not Found':
        full_start_date = full_start_date + datetime.timedelta(days=1)
        continue
        
    only_data = []
    
    for line in lines:
        cell_data = line.split(",")
        if cell_data[0] == '20':
            only_data.append(line)
            continue
        else:
            continue
            
    list_of_dictionaries = []
    
    for line in only_data:
        
        temp_dictionary = {}
        cell_data = line.split(",")
        
        temp_dictionary['RECORD TYPE'] = cell_data[0]
        temp_dictionary['SR NO'] = cell_data[1]
        temp_dictionary['NAME OF SECURITY'] = cell_data[2]
        temp_dictionary['SEGMENT'] = cell_data[3]
        temp_dictionary['QUANTITY TRADED'] = cell_data[4]
        temp_dictionary['DELIVERABLE QUANTITY'] = cell_data[5]
        temp_dictionary['% DELIVERABLE QUANTITY TO TRADED QUANTITY'] = cell_data[6]
        
        list_of_dictionaries.append(temp_dictionary)
        
    df = pd.DataFrame(list_of_dictionaries)
    df = df.drop(['RECORD TYPE','SR NO','QUANTITY TRADED','% DELIVERABLE QUANTITY TO TRADED QUANTITY'],axis = 1)
    df = df[df['SEGMENT']=='EQ']
    df = df.drop('SEGMENT',axis = 1)
    df = df[df['NAME OF SECURITY'].isin(NSE500_symbols)]
    df = df.set_index("NAME OF SECURITY")
    df = df.transpose()
    df.insert(loc = 0, column = 'DATE', value = full_start_date)
    
    Master_df = pd.concat([Master_df, df], ignore_index=True)
    
    driver.close()
    
    full_start_date = full_start_date + datetime.timedelta(days=1)
    
Master_df

====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
There is no [win32] chromedriver for browser  in cache
Trying to download new driver from https://chromedriver.storage.googleapis.com/103.0.5060.134/chromedriver_win32.zip
Driver has been saved in cache [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134]


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache


====== WebDriver manager ======
Current google-chrome version is 103.0.5060
Get LATEST chromedriver version for 103.0.5060 google-chrome
Driver [C:\Users\Priya Suresh\.wdm\drivers\chromedriver\win32\103.0.5060.134\chromedriver.exe] found in cache

NAME OF SECURITY,DATE,3MINDIA,AARTIDRUGS,AAVAS,ABB,ABBOTINDIA,ABCAPITAL,ABFRL,ABSLAMC,ACC,...,WHIRLPOOL,WIPRO,WOCKPHARMA,YESBANK,ZEEL,ZENSARTECH,ZFCVINDIA,ZOMATO,ZYDUSLIFE,ZYDUSWELL
0,2022-06-15,1003,12809,45805,60163,3173,640183,1028369,32420,103435,...,15988,2817756,60567,13245845,3621196,59066,28878,3474538,97993,14900
1,2022-06-16,683,34476,17433,121574,3706,721029,1533385,30527,92066,...,61451,4014888,123955,22150169,3391006,169242,7583,4358384,191098,9891
2,2022-06-17,6455,25134,44948,84611,5748,724239,1491359,45034,238591,...,94027,11009933,91584,29915485,2804255,209682,9016,4993945,359730,8426
3,2022-06-20,4199,29291,16583,62830,4362,655462,742646,43189,221230,...,60127,4409850,147410,25311936,1671204,163793,4256,3305037,368091,28680
4,2022-06-21,32331,17868,17630,76121,2957,1013650,209971,19550,136927,...,44902,1991589,94844,15895518,2174919,105438,544,4184802,160798,29940
5,2022-06-22,53144,26330,37012,38652,3692,507405,607574,314087,255798,...,86366,3497551,66290,10217043,1890288,146406,575,2776819,119313,29269
6,2022-06-23,626,18914,37720,180179,3325,499210,650963,163068,37508,...,19659,4989491,56156,8746130,1679381,93839,977,4792515,131508,3602
7,2022-06-24,20912,18077,25637,57169,1695,640777,640988,157045,96326,...,50486,2813323,162874,15897434,1630317,68294,1521,3096888,198559,3033
8,2022-06-27,19040,17620,37974,57527,1829,642194,589637,16904,81948,...,26139,2356276,107041,10663108,1877568,182068,749,28886979,379894,4123
9,2022-06-28,3234,18997,43578,20985,2562,774358,523070,13998,49649,...,32748,2583468,535623,12924789,2695861,241138,6677,27909798,187291,1339
10,2022-06-29,4229,16159,107206,138445,13587,761101,907801,23665,297103,...,61260,4114114,1102611,8423356,2854175,151375,50851,15810997,396660,3976
11,2022-06-30,1521,12161,40719,52548,3359,656696,526461,172067,173622,...,25222,2770137,174950,13450618,1609493,88230,11947,19377969,307291,19724
12,2022-07-01,1630,11493,57148,28519,5001,1026445,440479,16900,101592,...,14653,1421883,101843,8011214,436390,84850,2755,14414473,368670,4702

In [3]:
col_names = list(Master_df.columns.values)

Final_df = pd.DataFrame()

for symbol in col_names:
    list_of_dicts = []
    i = 0
    while i in range(0,len(Master_df['{}'.format(symbol)])):
        if pd.isna(Master_df['{}'.format(symbol)][i]) == True:
            i+=1
            continue
        else:
            temp_dict = {}
            temp_dict['{} DATE'.format(symbol)] = Master_df['DATE'][i]
            temp_dict['{} DEL QTY'.format(symbol)] = Master_df['{}'.format(symbol)][i]
            list_of_dicts.append(temp_dict)
            i+=1        
    df = pd.DataFrame(list_of_dicts)
    Final_df = pd.concat([Final_df,df],axis = 1)
    
Final_df

,DATE DATE,DATE DEL QTY,3MINDIA DATE,3MINDIA DEL QTY,AARTIDRUGS DATE,AARTIDRUGS DEL QTY,AAVAS DATE,AAVAS DEL QTY,ABB DATE,ABB DEL QTY,...,ZENSARTECH DATE,ZENSARTECH DEL QTY,ZFCVINDIA DATE,ZFCVINDIA DEL QTY,ZOMATO DATE,ZOMATO DEL QTY,ZYDUSLIFE DATE,ZYDUSLIFE DEL QTY,ZYDUSWELL DATE,ZYDUSWELL DEL QTY
0,2022-06-15,2022-06-15,2022-06-15,1003,2022-06-15,12809,2022-06-15,45805,2022-06-15,60163,...,2022-06-15,59066,2022-06-15,28878,2022-06-15,3474538,2022-06-15,97993,2022-06-15,14900
1,2022-06-16,2022-06-16,2022-06-16,683,2022-06-16,34476,2022-06-16,17433,2022-06-16,121574,...,2022-06-16,169242,2022-06-16,7583,2022-06-16,4358384,2022-06-16,191098,2022-06-16,9891
2,2022-06-17,2022-06-17,2022-06-17,6455,2022-06-17,25134,2022-06-17,44948,2022-06-17,84611,...,2022-06-17,209682,2022-06-17,9016,2022-06-17,4993945,2022-06-17,359730,2022-06-17,8426
3,2022-06-20,2022-06-20,2022-06-20,4199,2022-06-20,29291,2022-06-20,16583,2022-06-20,62830,...,2022-06-20,163793,2022-06-20,4256,2022-06-20,3305037,2022-06-20,368091,2022-06-20,28680
4,2022-06-21,2022-06-21,2022-06-21,32331,2022-06-21,17868,2022-06-21,17630,2022-06-21,76121,...,2022-06-21,105438,2022-06-21,544,2022-06-21,4184802,2022-06-21,160798,2022-06-21,29940
5,2022-06-22,2022-06-22,2022-06-22,53144,2022-06-22,26330,2022-06-22,37012,2022-06-22,38652,...,2022-06-22,146406,2022-06-22,575,2022-06-22,2776819,2022-06-22,119313,2022-06-22,29269
6,2022-06-23,2022-06-23,2022-06-23,626,2022-06-23,18914,2022-06-23,37720,2022-06-23,180179,...,2022-06-23,93839,2022-06-23,977,2022-06-23,4792515,2022-06-23,131508,2022-06-23,3602
7,2022-06-24,2022-06-24,2022-06-24,20912,2022-06-24,18077,2022-06-24,25637,2022-06-24,57169,...,2022-06-24,68294,2022-06-24,1521,2022-06-24,3096888,2022-06-24,198559,2022-06-24,3033
8,2022-06-27,2022-06-27,2022-06-27,19040,2022-06-27,17620,2022-06-27,37974,2022-06-27,57527,...,2022-06-27,182068,2022-06-27,749,2022-06-27,28886979,2022-06-27,379894,2022-06-27,4123
9,2022-06-28,2022-06-28,2022-06-28,3234,2022-06-28,18997,2022-06-28,43578,2022-06-28,20985,...,2022-06-28,241138,2022-06-28,6677,2022-06-28,27909798,2022-06-28,187291,2022-06-28,1339
10,2022-06-29,2022-06-29,2022-06-29,4229,2022-06-29,16159,2022-06-29,107206,2022-06-29,138445,...,2022-06-29,151375,2022-06-29,50851,2022-06-29,15810997,2022-06-29,396660,2022-06-29,3976
11,2022-06-30,2022-06-30,2022-06-30,1521,2022-06-30,12161,2022-06-30,40719,2022-06-30,52548,...,2022-06-30,88230,2022-06-30,11947,2022-06-30,19377969,2022-06-30,307291,2022-06-30,19724
12,2022-07-01,2022-07-01,2022-07-01,1630,2022-07-01,11493,2022-07-01,57148,2022-07-01,28519,...,2022-07-01,84850,2022-07-01,2755,2022-07-01,14414473,2022-07-01,368670,2022-07-01,4702

In [4]:
Final_df = Final_df.drop(['DATE DATE','DATE DEL QTY'],axis = 1)
Final_df

,3MINDIA DATE,3MINDIA DEL QTY,AARTIDRUGS DATE,AARTIDRUGS DEL QTY,AAVAS DATE,AAVAS DEL QTY,ABB DATE,ABB DEL QTY,ABBOTINDIA DATE,ABBOTINDIA DEL QTY,...,ZENSARTECH DATE,ZENSARTECH DEL QTY,ZFCVINDIA DATE,ZFCVINDIA DEL QTY,ZOMATO DATE,ZOMATO DEL QTY,ZYDUSLIFE DATE,ZYDUSLIFE DEL QTY,ZYDUSWELL DATE,ZYDUSWELL DEL QTY
0,2022-06-15,1003,2022-06-15,12809,2022-06-15,45805,2022-06-15,60163,2022-06-15,3173,...,2022-06-15,59066,2022-06-15,28878,2022-06-15,3474538,2022-06-15,97993,2022-06-15,14900
1,2022-06-16,683,2022-06-16,34476,2022-06-16,17433,2022-06-16,121574,2022-06-16,3706,...,2022-06-16,169242,2022-06-16,7583,2022-06-16,4358384,2022-06-16,191098,2022-06-16,9891
2,2022-06-17,6455,2022-06-17,25134,2022-06-17,44948,2022-06-17,84611,2022-06-17,5748,...,2022-06-17,209682,2022-06-17,9016,2022-06-17,4993945,2022-06-17,359730,2022-06-17,8426
3,2022-06-20,4199,2022-06-20,29291,2022-06-20,16583,2022-06-20,62830,2022-06-20,4362,...,2022-06-20,163793,2022-06-20,4256,2022-06-20,3305037,2022-06-20,368091,2022-06-20,28680
4,2022-06-21,32331,2022-06-21,17868,2022-06-21,17630,2022-06-21,76121,2022-06-21,2957,...,2022-06-21,105438,2022-06-21,544,2022-06-21,4184802,2022-06-21,160798,2022-06-21,29940
5,2022-06-22,53144,2022-06-22,26330,2022-06-22,37012,2022-06-22,38652,2022-06-22,3692,...,2022-06-22,146406,2022-06-22,575,2022-06-22,2776819,2022-06-22,119313,2022-06-22,29269
6,2022-06-23,626,2022-06-23,18914,2022-06-23,37720,2022-06-23,180179,2022-06-23,3325,...,2022-06-23,93839,2022-06-23,977,2022-06-23,4792515,2022-06-23,131508,2022-06-23,3602
7,2022-06-24,20912,2022-06-24,18077,2022-06-24,25637,2022-06-24,57169,2022-06-24,1695,...,2022-06-24,68294,2022-06-24,1521,2022-06-24,3096888,2022-06-24,198559,2022-06-24,3033
8,2022-06-27,19040,2022-06-27,17620,2022-06-27,37974,2022-06-27,57527,2022-06-27,1829,...,2022-06-27,182068,2022-06-27,749,2022-06-27,28886979,2022-06-27,379894,2022-06-27,4123
9,2022-06-28,3234,2022-06-28,18997,2022-06-28,43578,2022-06-28,20985,2022-06-28,2562,...,2022-06-28,241138,2022-06-28,6677,2022-06-28,27909798,2022-06-28,187291,2022-06-28,1339
10,2022-06-29,4229,2022-06-29,16159,2022-06-29,107206,2022-06-29,138445,2022-06-29,13587,...,2022-06-29,151375,2022-06-29,50851,2022-06-29,15810997,2022-06-29,396660,2022-06-29,3976
11,2022-06-30,1521,2022-06-30,12161,2022-06-30,40719,2022-06-30,52548,2022-06-30,3359,...,2022-06-30,88230,2022-06-30,11947,2022-06-30,19377969,2022-06-30,307291,2022-06-30,19724
12,2022-07-01,1630,2022-07-01,11493,2022-07-01,57148,2022-07-01,28519,2022-07-01,5001,...,2022-07-01,84850,2022-07-01,2755,2022-07-01,14414473,2022-07-01,368670,2022-07-01,4702